$base_font_size: 15px;
$base_line_height: 1.5rem;

$base_font_family: Helvetica, Arial, sans-serif; 
$base_font_custom: 'Source Sans Pro', sans-serif;




/* Grid */
$col_padding: 2rem;


// layout
$max_width: 75rem; // 1200px
$max_width_medium: 60rem; // 960px
$max_width_small: 50rem; // 800px


// spacing
$default_spacing: 1.5rem;

